# Claude API
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# Microsoft Azure / OneDrive
NEXT_PUBLIC_TENANT_ID=2144ecaf-235f-421f-b42b-cd675e093dd5
NEXT_PUBLIC_CLIENT_ID=a1d3b420-f876-493d-87a8-31fe664f8b6d
AZURE_CLIENT_SECRET=your_secret_here

# Vercel (wird automatisch gesetzt)
VERCEL_URL=http://localhost:3000
